.red-text {

    color: red;
    }
    
  
.green-text {
  
      color: green;
      }
      
  
.pass{
        color:black;
        background-color: green;
      }
  
.Fall{
        color:black;
        background-color: red;
      }